# Ignore everything in data folder
data/*

# But NOT server.properties
!data/server.properties

# Ignore mods as this will be replicated for the modpacks being used
mods/*
!mods/.gitkeep

# Ignore logs (if you later map a logs volume)
logs/

# Ignore Minecraft crash reports (if you copy any)
crash-reports/

# Ignore the folder where the file backups are
/backups/

# Ignore OS files
.DS_Store
Thumbs.db
