# Ignore everything in data folder
data/*

# But NOT server.properties
!data/server.properties


# Ignore logs (if you later map a logs volume)
logs/

# Ignore Minecraft crash reports (if you copy any)
crash-reports/

# Ignore OS files
.DS_Store
Thumbs.db
